<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Url Categorizer</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h2>Url Categorizer</h2>
    <p>Category Menu</p>
</div>
<div class="container">
    <div class="row">
            <div class="col-sm-2">
                <div class="well well-sm"><center>
                    <a href="/menu">Back to Main Menu</a></center></div>
        </div>
        <div class="col-sm-3">
            <div class="well well-sm"><center>
                <form method="GET" action="@routes.CategoryController.getCategoryMenu"></form>
                <a href="/categorySearch"><span class="glyphicon glyphicon-search"></span> Search Categories</a><br></center></div>
        </div>
        <div class="col-sm-3">
            <div class="well well-sm"><center>
                <a href="/categoryAdd"><span class="glyphicon glyphicon-plus"></span> Add Categories</a></center></div>
        </div>
        <div class="col-sm-3">
            <div class="well well-sm"><center>
                <a href="/categories"><span class="glyphicon glyphicon-edit"></span> Update Categories</a></center></div>
        </div>
    </div>
</div>
</body>
</html>