<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Url Categorizer</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h2>Url Categorizer</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="well well-sm"><center>
                <form method="GET" action="@routes.LinkController.getLinksMenu"></form>
                <a href="/user/1">Edit Links</a><br></center></div>
        </div>
        <div class="col-sm-4">
            <div class="well well-sm"><center>
                <a href="/category">Edit Watch by Date</a></center></div>
            <div class="col-sm-4">
                <div class="well well-sm"><center>
                    <a href="/category">Edit Ratings</a></center></div></div>
        </div>
        <div class="col-sm-4">
            <div class="well well-sm"><center>
                <a href="/editlinks">Edit Comments</a></center></div>
        </div>
    </div>
</div>
</body>
</html>