@(link : Link)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Url Categorizer</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h2>Url Categorizer</h2>
</div>
<form method="POST" action="@routes.LinkController.updateLink">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="well well-sm"><center>
                    <a href="/menu">Back to Main Menu</a></center></div>
                <div class="well well-sm"><center>
                    <a href="/categoryMenu">Back to Category Menu</a></center></div>
            </div>
            <div class="col-sm-4">
                <div class="well well-lg"><center>
                    <input type="hidden" name="id" id="id" value="@link.getLinkId">
                    <h4>Edit Link</h4>
                    <label>Link Url:</label><input type="text" name="linkurl" id="linkurl">
                </center></div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>