<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Url Categorizer</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h2>Url Categorizer</h2>
    <p>Link Menu</p>
</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Url Categorizer</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/menu">Menu</a></li>
            <li><a href="/userCategoriesMenu">User Categories</a></li>
            <li><a href="/categoryMenu">Categories Menu</a></li>
            <li><a href="/linkMenu">Links Menu</a></li>
        </ul>
    </div>
</nav>
<form method="GET" action="@routes.LinkController.getLinkMenu"></form>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="well well-sm"><center>
                <a href="/menu">Back to Main Menu</a></center></div>
            <div class="well well-sm"><center>
                <a href="/categoryMenu">Back to Category Menu</a></center></div>
        </div>
        <div class="col-sm-3">
            <div class="well well-sm"><center>
                <a href="/linkSearch"><span class="glyphicon glyphicon-search"></span> Search Links</a><br></center></div>
        </div>
        <div class="col-sm-3">
            <div class="well well-sm"><center>
                <a href="/linkAdd"><span class="glyphicon glyphicon-plus"></span> Add Links</a></center></div>
        </div>
        <div class="col-sm-3">
            <div class="well well-sm"><center>
                <a href="/links"><span class="glyphicon glyphicon-edit"></span> Update Links</a></center></div>
        </div>
    </div>
</div>