<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form method="POST" action="@routes.LoginController.login">
        <label>Username:</label><input type="text" id="username" name="username">
        <label>Password:</label><input type="password" id="password" name="password">
        <br>
        <button type="submit" formmethod="get" formaction="/userAdd">Create User</button>
        <hr>
        <button type="submit">Login</button>
    </form>
</div>
