<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Url Categorizer</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h2>Url Categorizer</h2><br>
    <p>Main Menu</p>
</div>
<form method="GET" action="@routes.MenuController.getMenu"></form>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="well well-sm"><center>
                <a href="/myUser"><span class="glyphicon glyphicon-edit"></span> Edit User</a><br></center></div>
        </div>
            <div class="col-sm-4">
                <div class="well well-sm"><center>
                    <a href="/categoryMenu">Categories Menu</a></center></div>
            </div>
                <div class="col-sm-4">
                    <div class="well well-sm"><center>
                            <a href="/linkMenu">Links Menu</a></center></div>
            </div>
        </div>
    </div>
</body>
</html>