@(userForm: UserForm, errorMessages : List[String])
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Url Categorizer</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h2>Url Categorizer</h2>
</div>
<form method="POST" action="@routes.UserController.addNewUser">
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="well well-lg"><center>
               <h4>Create Account</h4>
                <label>First Name:</label><input type="text" name="firstname" id="firstname" value="@userForm.firstName">
                <label>Last Name:</label><input type="text" name="lastname" id="lastname" value="@userForm.lastName">
                <label>Username:</label><input type="text" name="userusername" id="userusername" value="@userForm.userUsername">
                    <label>Password:</label><input type="password" name="password" id="password">
                <button type="submit" class="btn btn-primary">Save</button></center>
            </div>
        </div>
    </div>
@for(errorMessage <- errorMessages){
<h3>@errorMessage</h3>
}
</div>
</form>
</body>
</html>