@(user : User)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Url Categorizer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h2>Url Categorizer</h2>
    <p>Edit User Menu</p>
</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Url Categorizer</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/login">Login</a></li>
                <li><a href="/menu">Menu</a></li>
                <li class="active"><a href="/userLinks">User Categories</a></li>
                <li><a href="/categoryMenu">Categories Menu</a></li>
                <li><a href="/linkMenu">Links Menu</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<form method="POST" action="@routes.UserController.updateUser">
<div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-offset-4">
                <div class="well well-lg"><center>
                <input type="hidden" name="id" id="id" value="@user.getUserId">
                    <h4>Edit User</h4>
                    <label>First Name:</label><input type="text" name="firstname" id="firstname"
                                                     value="@user.getFirstName">
                    <label>Last Name:</label><input type="text" name="lastname" id="lastname"
                                                    value="@user.getLastName">
                    <label>Username:</label><input type="text" name="userusername" id="userusername"
                                                   value="@user.getUserUsername">
                    <label>Password:</label><input type="password" name="password" id="password"
                                                   value="@user.getPassword"></center></div>
                    <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
</div>
</form>
</body>
</html>
