@(categories : List[Category], links : List[Link], selectedCategoryId : Integer)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Url Categorizer</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css">
</head>
<body>
<div class="jumbotron text-center">
    <h2>Url Categorizer</h2>
</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Url Categorizer</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/login">Login</a></li>
                <li><a href="/menu">Menu</a></li>
                <li class="active"><a href="/userLinks">User Categories</a></li>
                <li><a href="/categoryMenu">Categories Menu</a></li>
                <li><a href="/linkMenu">Links Menu</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<form method="GET" action="@routes.UserCategoriesController.getCategoryLinks">
    <div class="container page-container">
        <div class="row">
            <div class="col-sm-4 ">
                <div class="well well-lg"><center>
                    <h4>Pick Category</h4>
                    <label>Categories:</label><select onchange="this.form.submit()" id="categoryId" name="categoryId">
                    <option disabled selected value> -- select an option -- </option>
                    @for(category <- categories){
                        @if(category.getCategoryId == selectedCategoryId){
                    <option selected value="@category.getCategoryId">@category.getCategoryName</option>
                    }else{
                    <option value="@category.getCategoryId">@category.getCategoryName</option>
                        }
                    }
                </select><br></center>
                </div>
            </div>
            <div class="col-sm-8">
            <div class="well well-lg"><center>
                <h4>Links Belonging to Category</h4>
                    @for(link <- links){
                    <div class="well well-container">
                        <table>
                            <tr>
                                <td>
                            <label>Url:</label><u onclick="logClick(@link.getLinkId, '@link.getLinkUrl');">
                                        @link.getLinkUrl</u>
                            <table>
                                <tr>
                                    <td>
                                        <label>Comments:</label>@link.getLinkComments
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Rating:</label>@link.getLinkRating
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Number of visits:</label>@link.getLinkCounter
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Watch By:</label>@link.getLinkWatchBy
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr></table></div>
                }
            </center></div></div>
        </div>
    </div>
</form>
<script type="text/javascript">
    function logClick(linkId, url){
        $.ajax({
            url : '/linkClick',
            type : 'POST',
            data : {
                'linkId' : linkId
            },
            dataType: 'html',
            success : function(data) {
                window.open(url);
            },
            error : function(request,error)
            {
                alert(error);
            }
         });
     }
</script>
</body>
</html>